* {
  outline: none !important;
}

.dot {
  --size: 8px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
}
.dot.-margin {
  margin-left: 5px;
}
.dot.-red {
  background: #dd3636;
}
.dot.-green {
  background: #35ec72;
}
.dot.-yellow {
  background: #d0ec35;
}

.section {
  text-overflow: clip;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.section-icon {
  transition: all 0.15s ease !important;
  transform: rotate(-90deg);
}
.section-icon.-closed {
  transform: rotate(0deg);
}
.section-title {
  user-select: none;
  cursor: pointer;
}

.text-darker {
  opacity: 0.7;
}

button {
  transition: all 0.2s ease;
  outline: none;
}
