:root {
  --theme-bg: #0d1015;
  --theme-color: #a8ced0;
  --theme-border: #2e4a52;

  --theme-font-size: 14px;
  --theme-font: "Roboto Mono", monospace;
  --theme-font-display: "Major Mono Display", sans-serif;

  --border: solid 1px var(--theme-border);
}

.font {
  font-family: var(--theme-font);
}
.font-display {
  font-family: var(--theme-font-display);
}
.font-bold {
  font-weight: 500;
}
.font-thin {
  font-weight: 300;
}

.text-darker {
  opacity: 0.7;
}

.tile {
  padding: 2px 8px;
  text-overflow: clip;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}
.tile-titlenav {
  display: flex;
  align-items: center;
}
.tile-icon {
  margin: 0 2px 0 0;
  transition: all 0.2s ease;
  transform: rotate(-90deg);
}
.tile-icon.-closed {
  transform: rotate(0deg);
}
.tile-title {
  font-weight: 500;
  font-size: 1.1rem;
  user-select: none;
  cursor: pointer;
}
.tile-content {
  padding: 4px 6px;
}

.app-title {
  font-size: 20px;
}

html,
body {
  margin: 0;
  font-family: var(--theme-font);
  font-size: var(--theme-font-size);
  background: var(--theme-bg);
  color: var(--theme-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.grid {
  font-size: 13px;
  color: var(--theme-color);
  height: 100vh;
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 40px auto;
  grid-template-areas:
    "left top"
    "left main";
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: auto;
    grid-template-rows: 40px 1fr, 1fr;
    grid-template-areas: "top" "left" "main";
  }
}

.top {
  grid-area: top;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 10px;
  align-items: center;
  border-bottom: var(--border);
}
.main {
  grid-area: main;
  border-radius: 3px;
}

.left {
  grid-area: left;
  padding: 0 10px;
  overflow: auto;
  border-bottom: var(--border);
  border-right: var(--border);
}

.clock {
  user-select: none;
  display: flex;
  justify-content: center;
  padding: 15px 0 8px;
  font-size: 40px;
}

.target-item {
  padding: 3px 8px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.target-item:hover {
  background: rgba(255, 255, 255, 0.1);
}
.target-item:active {
  background: rgba(255, 255, 255, 0.2);
}

.MuiSnackbar-root {
  margin-bottom: 10px;
}
